$primary: #007bff;

@import "~bootstrap/scss/bootstrap";

.navbar-brand-text {
    font-size: 1rem;
    padding-inline: 1rem;
  }
  
  .navbar-brand-text > img {
    padding-inline: 1rem;
  }
  .carousel {

    max-height: 50vh;
}

.carousel-item {
  max-height: 50vh;
}

.carousel-inner {

  border-radius: 0.25rem;
}

.carousel-item img {
  filter:contrast(0.25);
}